<button type="button" class="btn btn-sm btn-block btn-success" data-toggle="modal" data-target="#edit-profile-modal">
  <i class="ace-icon fa fa-plus-circle bigger-120"></i>
  <span class="bigger-110">edite</span>
</button>

<div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
        <div class="modal-body">
            {% csrf_token %}
              <div class="form-group">
                <label for="id_first_name">Username:</label>
                <input type="text" name="username" maxlength="30" id="id_username" class="form-control" value="{{ user.username }}">
              </div>
              <div class="form-group">
                <label for="id_first_name">First name:</label>
                <input type="text" name="first_name" maxlength="30" id="id_first_name" class="form-control" value="{{ user.first_name }}">
              </div>
              <div class="form-group">
                <label for="id_last_name">Last name:</label>
                <input type="text" name="last_name" maxlength="30" id="id_last_name" class="form-control" value="{{ user.last_name }}">
              </div>
              <div class="form-group">
                <label for="id_phone">Phone:</label>
                <input type="text" name="phone" maxlength="15" id="id_phone" class="form-control" value="{{ profile.phone }}">
              </div>
              <div class="form-group">
                <label for="id_profile_pic">Profile pic:</label>
                <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic" class="form-control" value="{{ profile.profile_pic }}">
              </div>
              <div class="form-group">
                <label for="id_fb_profile_url">Fb profile url:</label>
                {% if profile.fb_profile_url %}
                <input type="url" name="fb_profile_url" maxlength="200" id="id_fb_profile_url" class="form-control" value="{{ profile.fb_profile_url }}">
                {% else %}

                <input type="url" name="fb_profile_url" maxlength="200" id="id_fb_profile_url" class="form-control" value="">
                {% endif%}
              </div>
              <div class="form-group">
                <label for="id_country">Country:</label>
                <input type="text" name="country" maxlength="15" id="id_country" class="form-control" value="{{ profile.country }}">
              </div>
              <div class="form-group">
                <label for="id_birth_date">Birth date:</label>
                 {% if profile.fb_profile_url %}
                <input type="url" name="birth_date" maxlength="200" id="id_birth_date" class="form-control" value="{{ profile.birth_date }}">
                {% else %}

                <input type="url" name="birth_date" maxlength="200" id="id_birth_date" class="form-control" value="">
                {% endif %}
              </div>
  
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



