
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <p class="hint-text">Sign in with your social media account</p>
    <div class="form-group social-btn clearfix">
        <a href="#" class="btn btn-primary pull-left"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="#" class="btn btn-info pull-right"><i class="fa fa-twitter"></i> Twitter</a>
    </div>
    <div class="or-seperator"><b>or</b></div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required name="username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required name="password">
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Login">
    <div class="form-footer">
        <a href="{% url 'password_recover' %}">Forgot Your password?</a>
    </div>
</form>