{% extends 'user/layout.html' %}
{% block content %}
<!-- Heighest rated five -->

<div class="row justify-content-center">
    <h1 class="my-4 ">Top rated Projects</h1>
</div>
<div class="row justify-content-center my-4">
    <div class="col-10">
        <div id="carousalID" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousalID" data-slide-to="0" class="active"></li>
                <li data-target="#carousalID" data-slide-to="1"></li>
                <li data-target="#carousalID" data-slide-to="2"></li>
                <li data-target="#carousalID" data-slide-to="3"></li>
                <li data-target="#carousalID" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                {% for project in top_rated_five %}
                    {% if forloop.counter0 == 0 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <a href="{% url 'project' project.project_id %}"><img class="d-block w-100" src="{{ project.header_image }}" alt="" width="100%" height="400px"></a>
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-uppercase">{{ project.project_title }}</h3>
                                <p>Rated {{ project.project_rate }}/5 ({{ project.num_rates}})
                                </p>

                            </div>
                        </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousalID" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousalID" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<!-- Last created five -->
<div class="row justify-content-center">
    <h1 class="my-4 ">Lastly Added Projects</h1>
</div>
<div class="card-group my-4">
    {% for project in last_created_five %}
        <div class="card">
            <a href="{% url 'project' project.project_id %}"><img src="{{ project.header_image }}" class="card-img-top" alt="" height="200px" width="300px"></a>
            <div class="card-body">
                <a href="{% url 'project' project.project_id %}"><h5 class="card-title">{{ project.project_title}}</h5></a>
                <p class="card-text">Rated {{ project.project_rate}}/5 ({{ project.num_rates}})</p> 
                <p>Target: {{ project.target }}</p>
                <p>Gain: {{ project.percentage }}%</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Created at {{ project.creation_date}}</small>
            </div>
        </div>
    {% endfor %}
</div>

<!-- recommended five -->
<div class="row justify-content-center">
    <h1 class="my-4 ">Recommended for you</h1>
</div>
<div class="card-group my-4">
    {% for project in recommended_five %}
        <div class="card">
            <a href="{% url 'project' project.project_id %}"><img src="{{ project.header_image }}" class="card-img-top" alt="" height="200px" width="300px"></a>
            <div class="card-body">
                <a href="{% url 'project' project.project_id %}"><h5 class="card-title">{{ project.project_title}}</h5></a>
                <p class="card-text">Rated {{ project.project_rate}}/5 ({{ project.num_rates}})</p>
                <p>Target: {{ project.target }}</p>
                <p>Gained: {{ project.percentage }}%</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Created at {{ project.creation_date}}</small>
            </div>
        </div>
    {% endfor %}
</div>

<div style="height:1000px"></div>
{% endblock content %}