{% load static %}

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crowdfunding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

        <link rel="stylesheet" href="{% static 'styles/starrr.css' %}">
        <link rel="stylesheet" href="{% static 'styles/tagify.css' %}">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <script src="{% static 'js/jQuery.tagify.min.js' %}"></script>
        <script src="{% static 'js/starrr.js' %}"></script>
    </head>
    <body>
        <div class="container">

        
        {% include "user/_navbar.html" %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
        </div>
    </body>
    <script type="text/javascript">
        // Prevent dropdown menu from closing when click inside the form
        $(document).on("click", ".navbar-right .dropdown-menu", function(e){
            e.stopPropagation();
        });
        $("#tab-bar li").on('click', function(){
            $("#tab-bar li.active").removeClass("active");
            $(this).addClass("active");
        });

        //Confirm on deleteing account
        $("#delete-btn").confirm({
            title: 'Confirm!',
            content: 'Are you sure you want to delete your acount!',
        });

    </script>

</html>