{% extends 'user/layout.html' %}

{% block content %}

<form action="{% url 'password_recovery' %}" method="POST">
    {% csrf_token %}
    <p class="hint-text">Enter Your username</p>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required name="username">
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Send">
</form>
{% endblock content %}