{% extends 'user/layout.html' %}

{% block content %}
    <div id="user-profile-2" class="user-profile">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-18" id="tab-bar">
				<li class="active">
					<a data-toggle="tab" href="#home">
						<i class="green ace-icon fa fa-user bigger-120"></i>
						Profile
					</a>
				</li>

				<li>
					<a data-toggle="tab" href="#donations">
						<i class="orange ace-icon fa fa-rss bigger-120"></i>
						Donations
					</a>
				</li>

				<li>
					<a data-toggle="tab" href="#projects">
						<i class="pink ace-icon fa fa-picture-o bigger-120"></i>
						Projects
					</a>
				</li>
			</ul>

			<div class="tab-content no-border padding-24">
				<div id="home" class="tab-pane in active">
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
								<img class="editable img-responsive" alt=" Avatar" id="avatar2" src="{{ profile.profile_pic.url }}">
							</span>

							<div class="space space-4"></div>
                            {% if request.user.is_authenticated and user.id == request.user.id %}
                                {% include "user/_edit_profile_form.html" %}
                            {% endif %}

						</div><!-- /.col -->

						<div class="col-xs-12 col-sm-9">
							<h4 class="blue">
								<span class="middle">{{ profile_user_name }}</span>
							</h4>

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Username </div>

									<div class="profile-info-value">
										<span>{{ user.username }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Location </div>

									<div class="profile-info-value">
										<i class="fa fa-map-marker light-orange bigger-110"></i>
										<span>{{ profile.country }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Joined </div>

									<div class="profile-info-value">
										<span>{{ date_joined }}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Last Online </div>
                                    {% load humanize %}
									<div class="profile-info-value">
										<span>{{ user.last_join.date|naturaltime }}</span>
									</div>
								</div>
							</div>

							<div class="hr hr-8 dotted"></div>

							<div class="profile-user-info">

								<div class="profile-info-row">
									<div class="profile-info-name">
										<i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
									</div>

									<div class="profile-info-value">
										<a href="{{ profile.fb_profile_url }}">Find me on Facebook</a>
									</div>
								</div>

							</div>
						</div><!-- /.col -->
					</div><!-- /.row -->

					<div class="space-20"></div>
				</div><!-- /#home -->

				<div id="donations" class="tab-pane">
					<div class="profile-users clearfix">
                    {% for donation in donations %}
						<div class="itemdiv memberdiv">
							<div class="inline pos-rel">
								<div class="user">
									{{ donation.value }} $
								</div>

								<div class="body">
									<div class="name">
										<a href="{% url 'project' donation.project.id %}">
											{{ donation.project.title }}
										</a>
									</div>
								</div>
							</div>
						</div>
                    {% endfor %}
					</div>

					<div class="hr hr10 hr-double"></div>

					<ul class="pager pull-right">
						<li class="previous disabled">
							<a href="#">← Prev</a>
						</li>

						<li class="next">
							<a href="#">Next →</a>
						</li>
					</ul>
				</div><!-- /#friends -->

				<div id="projects" class="tab-pane">
					<ul class="ace-thumbnails">
                    {% for project in projects %}
						<li>
							<a href="{% url 'project' project.project_obj.id %}" data-rel="colorbox">
								<img alt="150x150" src="{{ project.header_image }}">
								<div class="text">
									<div class="inner">{{ project.project_obj.title }}</div>
								</div>
							</a>
						</li>
                    {% endfor %}
					</ul>
				</div><!-- /#pictures -->
			</div>
		</div>
	</div>
{% endblock content %}