{% extends 'user/layout.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}