<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">donate</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Donate to us</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'donate' project.id %}">
            {% csrf_token %}
            <input type="text" name="donation_value" placeholder="$$"/> $<br>
            <input type="submit" class="btn btn-success mt-3">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>