<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light mb-4">
    <a class="navbar-brand" href="{% url 'home'%}">CrowdFunding</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_project' %}">Add Project</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                    {% for category in categories %}
                        <a class="dropdown-item" href="{% url 'category_project' category.name %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <form class="navbar-form form-inline my-2" method="GET" action="{% url 'search' %}">
		<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search here..." name="q">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</div>
        </form>
    <ul class="nav navbar-nav navbar-right ml-auto">			
	    
        {% if request.user.is_authenticated %}  
            <li class="nav-item dropdown">
				<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">
                    <img src="{{ request.user.userprofile.profile_pic.url }}" class="rounded-circle"></a>
                </a>
				<div class="dropdown-menu profile-actions">					
					<a href="{% url 'profile' request.user.username %}" class="dropdown-item center">Profile</a>
                    <a href="{% url 'edit_profile' %}" class="dropdown-item center">Edite</a>
                    <a href="{% url 'delete_profile' %}" class="dropdown-item center">Delete</a>
                    <a href="{% url 'logout' %}" class="dropdown-item center">Logout</a>
				</div>
			</li>
        {% else %}
            <li class="nav-item">
				<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Login</a>
				<ul class="dropdown-menu form-wrapper">					
					<li>
						{% include 'user/_login_form.html' %}
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="{% url 'register' %}"  class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Sign up</a>
			</li>
        {% endif %}
	</ul>

    </div>
</nav>




