<div class="row justify-content-center my-4">
    <div class="col-10">
        <div id="imgs-carousal" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            {% for img in images %}
                {% if forloop.counter0 == 0 %}
                    <li data-target="#imgs-carousal" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                {% else %}
                    <li data-target="#imgs-carousal" data-slide-to="{{ forloop.counter0 }}"></li>
                {% endif %}
            {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for img in images %}
                    {% if forloop.counter0 == 0 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <img class="d-block w-100" src="{{ img }}" alt="" width="100%" height="400px">
                        </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#imgs-carousal" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#imgs-carousal" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>