<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#rateModal">rate this</button>

<div id="rateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Rate this project</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'rate_project' project.id %}">
            {% csrf_token %}
            Rate: {% if rate_value %}
                    <select name="rate_value">
                    {% for i in rates_range %}
                        <option value="{{i}}" {% if rate_value == i %}selected{% endif %}>{{i}}</option>
                    {% endfor %}
                    </select><br>
                {% else %}
                    <select name="rate_value">
                        <option value="1" >1</option>
                        <option value="2">2</option>
                        <option value="3" selected />3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br>
                {% endif %}
            <input type="submit" class="btn btn-success mt-3">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>