{% extends 'project/layout.html' %}
{% comment %} <script>
   $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script> {% endcomment %}
{% load crispy_forms_tags %}

{% block content %}

 <h2> Add New Project </h2>
{% comment %} <div class="container">
  <div class="row justify-content-center align-items-center"> {% endcomment %}
   <form method="post" enctype= "multipart/form-data" >
       
        {% csrf_token %} 
        {{ postForm|crispy}}
    
        {% comment %} {{ postForm.title}} {% endcomment %}
        {{ formset|crispy}} 
        <input type="submit" value="Submit">
        </div>

</form>
</div>

{% endblock content %}


    
    {% comment %} <form action="" method="post" enctype="multipart/">
    {{ form.title }}
    <input type="file" multiple>
    <input type="submit" value="Submit">
</form> {% endcomment %}