{% extends 'project/layout.html'%}

{% block content %}
<div class="row justify-content-center">
    <h1 class="my-4 ">Categories</h1>
</div>    
<div class="card-group my-4">
    {% for category in categories %}
        <div class="card">
            <h3 class="center"><a href="{% url 'category_project' category.name %}">{{ category.name }}</a></h3>
            <div class="card-body">
                <p>Projects No. : {{ category.projects_count }}</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}