{% extends 'project/layout.html'%}

{% block content %}
<div class="card-group my-4">
    {% for project in projects %}
        <div class="card">
            <a href="{% url 'project' project.project_id %}"><img src="{{ project.header_image }}" class="card-img-top" alt="" height="200px" width="300px"></a>
            <div class="card-body">
                <a href="{% url 'project' project.project_id %}"><h5 class="card-title">{{ project.project_title}}</h5></a>
                <p class="card-text">Rated {{ project.project_rate}}/5 ({{ project.num_rates}})</p>
                <p>Target: {{ project.target }}</p>
                <p>Gained: {{ project.percentage }}%</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Created at {{ project.creation_date}}</small>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}