{% extends 'project/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <span class="project-title">{{ project.title}} <sub>Proposed by <a href="{% url 'profile' project.user.username %}">@{{ project.user.username }}</a></sub>
                </span>
                <div class="pull-right">
                    <span class="rating starrr">
                    </span> 
                    ({{ num_rates }})
                    {% include "project/_rate_form.html" %}
                    {% include "project/_donation_form.html" %}
                    {% if request.user.is_authenticated %}
                        {% if request.user.id == project.user_id and is_cancelable %}
                            <a id="cancel-btn" href="{% url 'cancel_project' project.id %}" class="btn btn-danger">cancel</a>
                        {% endif %}
                        {% if request.user.id != project.user_id %}
                            <a id="report-btn" href="{% url 'report_project' project.id %}" class="btn btn-secondary">report</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
            <div>
                <img class="project-header-img" src="{{ header_image }}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div>
                    <span class="badge badge-secondary">created at {{ project.creation_date }}</span>
                    <i class="fas fa-stopwatch mx-2"></i>start date: {{ project.start_date }}
                    <i class="fas fa-stopwatch mx-2"></i>end date: {{ project.end_date }}
                    <div class="pull-right">
                        {% for tag in tags %}
                            <span class="badge badge-info">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-9">
                <p class="project-details-section">{{ project.details}}</p>
            </div>
            <div class="col-md-3 similar-projects">
                <h3 class="similar-projects-header">Similar Projects</h3><hr>
                {% for project in similar_projects %}
                    <a href="{% url 'project' project.id %}">{{ project.title }}</a>
                    <hr>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row justify-content-center mt-2">
            <h2>Project Images</h1>
        </div>
        {% include "project/_project_images.html" %}
        <hr>
        <!-- Comments section -->
        <h2 class="mb-3">Comments</h2>
        {% for comment in comments %}
            <div = "comment">
                <div class="row">
                    <div class="col-2">
                        <a href="{% url 'profile' comment.user.username %}"><img src="{{ comment.user.userprofile.profile_pic.url }}" class="commenter-img"></a><br>
                        <span class="badge badge-secondary my-2">{{ comment.date }}</span><br>
                        {% if request.user.is_authenticated and comment.user.id == request.user.id %}
                            <a class="btn btn-danger" href="{% url 'delete_comment' comment.id %}">delete</a>
                        {% endif%}
                    </div>
                    <div class="col-10">
                        {{ comment.content }}
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        <!-- add comment form -->
        <div class="row mt-4">
            <div class="col-12">
                <form action="{% url 'add_comment' project.id %}" method="POST" id="comment-submition">
                    {% csrf_token %}
                    <textarea id="comment-field" name="comment" placeholder="Leave Comment..." class="comment-field" form="comment-submition"></textarea><br>
                    <input type="submit" class="btn btn-primary mt-1" value="add">
            </div>

        </div>
    </div>
    <script>
        $(".rating").starrr({
            readOnly: true,
            rating: {{ avg_rate }}
        })
    </script>

{% endblock content %}