{% extends 'project/layout.html' %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="my-4 ">Search results. </h1>
    </div>
    {% for project in projects %}
        <div class="row project-search-box">
            <div clas"col-md-5 box-right">
                <img src="{{ project.header_image}}">
                <p class="badge">{{ project.creation_date }}</p>
            </div>
            <div class="col-md-7 box-left ml-3">
            <h2><a href="{% url 'project' project.id %}">{{ project.title }}</a></h2>
            <p>Rated: {{ project.rate}}</p>
            <p>Target: {{ project.target}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}